
@{
    ViewBag.Title = "Education";
}

<a class="btn btn-primary" href="Personal">Personal Background</a>
<a class="btn btn-warning" href="Education">Educational Background</a>
<a class="btn btn-success" href="Project">Project list</a>
<a class="btn btn-danger" href="Referance">Referance</a>



<form>
    <table class="table table-bordered">

        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Institution name</th>
                <th scope="col">Degree</th>
                <th scope="col">Year</th>
                <th scope="col">Board</th>
                <th scope="col">Result</th>
            </tr>
        </thead>


        <tbody>
            <tr>
                <th scope="row">University</th>
                <td>American International University-Bangladesh</td>
                <td>Bsc in CSE</td>
                <td>2022</td>
                <td>-</td>
                <td>3.77/4.00</td>
            </tr>
            <tr>
                <th scope="row">Collage</th>
                <td>Cumilla Victoria  government College,Cumilla</td>
                <td>Higher Secondary School Certificate(HSC)</td>
                <td>2017</td>
                <td>Cumilla</td>
                <td>5.00/5.00</td>
            </tr>

            <tr>
                <th scope="row">School</th>
                <td>Cumilla Zilla School, Cumilla</td>
                <td>Secondary School Certificate(SSC)</td>
                <td>2015</td>
                <td>Cumilla</td>
                <td>5.00/5.00</td>
            </tr>


        </tbody>


    </table>
</form>