
@{
    ViewBag.Title = "Personal";
}
<a class="btn btn-primary" href="Personal">Personal Background</a>
<a class="btn btn-warning" href="Education">Educational Background</a>
<a class="btn btn-success" href="Project">Project list</a>
<a class="btn btn-danger" href="Referance">Referance</a>

<br>
<h3>Personal details:</h3>
   Address: Islambag, Satarkul, Badda,Dhaka-1212
<br>
    Phone: 01977771683
<br>
     Date of birth: 27 March 1998
<br>
<h3>Skills :</h3>

<ul>
    <li>
        In-depth knowledge about Dynamic Programming and Graph
    </li>
    <li>
        Solve more than 1500 problems in different online judge like Codeforces, Codechef, Uva, Hackerrank
    </li>
    <li>In-depth knowledge in Algorithm and Data structure</li>
    <li>Good knowledge of  .Net, Java,C, C++, Object Oriented Programming, Python</li>
    <li>Experience in complex test cases and excellent debugging skills</li>
    <li>Good at both Speaking and writing in English</li>
</ul>
<br>

<h3>Interests:</h3>
Solving critical problems, Learning a new skill, Designing and development websites