
@{
    ViewBag.Title = "Project";
}
<a class="btn btn-primary" href="Personal">Personal Background</a>
<a class="btn btn-warning" href="Education">Educational Background</a>
<a class="btn btn-success" href="Project">Project list</a>
<a class="btn btn-danger" href="Referance">Referance</a>

<center>
    <form>
        <table class="table table-bordered">

            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Course</th>
                    <th scope="col">Project Title</th>
                </tr>
            </thead>


            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Java</td>
                    <td>Library Management System</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>C#</td>
                    <td>Inventory Management System</td>
                </tr>

                <tr>
                    <th scope="row">3</th>
                    <td>Web Technologies</td>
                    <td>AIUB Portal</td>
                </tr>

                <tr>
                    <th scope="row">4</th>
                    <td>ATP3</td>
                    <td>Household service provider Using Laravel API and React</td>
                </tr>

            </tbody>


        </table>
    </form>
</center>