
@{
    ViewBag.Title = "Referance";
}
<a class="btn btn-primary" href="Personal">Personal Background</a>
<a class="btn btn-warning" href="Education">Educational Background</a>
<a class="btn btn-success" href="Project">Project list</a>
<a class="btn btn-danger" href="Referance">Referance</a>

    <br><h3>References</h3>
    Md.Kishor Morol<br>
    Lecturer<br>
    Faculty of Computer Science<br>
    American International University-Bangladesh<br>

