
@{
    ViewBag.Title = "Student";
}

<a class="btn btn-primary" href="Personal">Personal Background</a>
<a class="btn btn-warning" href="Education">Educational Background</a>
<a class="btn btn-success" href="Project">Project list</a>
<a class="btn btn-danger" href="Referance">Referance</a>

<center>
    <table class="table">

        <tr class="table-info">
            <td>
                Name:
            </td>
            <td>
                Hasan Al Musanna
            </td>
        </tr>
        <tr class="table-info">
            <td>
                Email:
            </td>
            <td>
                hasanalmusanna7@gmail.com
            </td>
        </tr>

    </table>
</center>